<!DOCTYPE html>
<html
  lang="en"
  class="bg-gradient-to-b from-[#012a36] to-[#0d4b6e] min-h-screen text-white"
>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../assets/pictures/bitCoin.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="./loading.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body class="lg:max-w-md mx-auto">
    <main>
      <div class="flex justify-center items-center bg-black min-h-screen">
        <h1 class="text-8xl animate-text-glow">HUTBIT</h1>
      </div>
    </main>
  </body>
</html>
